.weather-card-container {
  width: 100%;
  min-height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.weather-card-content {
  width: 320px;
  height: 480px;
  padding: 36px;
  border-radius: 8px;
  background-color: #200b64;
  background-image: url("../assets/images/clouds.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-card-city {
  margin: 8px 0 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.weather-card-country {
  margin: 4px 0 16px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #d1d1f0;
  text-align: center;
}

.weather-card-figure {
  margin: 0 0 16px;
  text-align: center;
}

.weather-card-image {
  width: 128px;
  padding: 8px;
  border-radius: 8px;
  background: rgba(200, 200, 200, 0.2);
  box-sizing: content-box;
}

.weather-card-description {
  margin: 8px auto;
  font-size: 1.1rem;
  font-style: italic;
  color: #eee;
}

.weather-card-degrees {
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

/* Spacing between elements */
.weather-card-content > *:not(:last-child) {
  margin-bottom: 12px;
}

.weather-card-minmax {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.minmax-separator
{
  font-size: 50px;
  opacity: 0.2;
}

.minmax-box {
  flex: auto;
  padding: 8px;
  text-align: center;
}

.minmax-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #ddd;
}

.minmax-value {
  margin: 4px 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
